*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("./images/background10.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#body-div{
    background-color: violet;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: red;
    min-height: 5vh;
    min-width: 100vw;
}

.container{
    background-color: blue;
    height: 30vh;
    width: 35vw;
    margin-top: 3rem;
    padding: 0%;
    border-style: solid;
    border-radius: 1rem;
    overflow: hidden;
}

#container-header{
    background-color: red;
    height: 4.2vh;
}

#market-div{
    background-color: yellow;
    width: 5.5vw;
    height: 4.2vh;
    float: left;
    color: #FFFFFF;
    margin-left: 0.2rem;
    opacity: 0.8;
    font-size: 14px;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
    padding-top: 0.2rem;

}

#stock-name-div{
    background-color: green;
    width: 7vw;
    height: 4.2vh;
    float: left;
    font-size: 14px;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
    padding-top: 0.2rem;
}

#stock-ETF-div{
    background-color: grey;
    width: 21.6vw;
    float: left;
    text-align: right;
    font-size: 18px;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
    opacity: 0.8;
}

#container-body{
    /* display: inline-block; */
}

#stock-ticker-div{
    background-color: brown;
    height: 14vh;
    /* text-align: center; */
    /* padding-top: 1.1rem; */
}

#name-ticker{
    background-color: blue;
    width: 12vw;
    text-align: left;
    margin-left: 9.8rem;
    font-family: OpenSans-Light;
    font-size: 60px;
    font-weight: 400;
}

#stock-price-data{
    background-color: orange;
    height: 11vh;
    text-align: center;
}

#price{
    background-color: pink;
    text-align: left;
    width: 7rem;
    height: 5rem;
    float: left;
    margin-left: 9.8rem;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    font-size: 36px;
    font-weight: bold

}

#points-percentage{
    background-color: white;
    width: 2.5rem;
    float: left;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0.5rem;
    text-align: left;
}

#points{
    /* background-color: red; */
    height: 0.9rem;
}

#percentage{
    /* background-color: blue; */
}



.popular-stocks{
    background-color: red;
    height: 50vh;
    width: 30vw;
    margin-top: 2rem;
    margin-left: 35.18%;
    /* border-style: solid; */
    /* border-radius: 1rem; */
    /* overflow: hidden; */
}


.popular-stocks{
    background-color: yellow;
}

.pop-stocks-header{
    background-color: blueviolet;
    height: 7vh;
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
}

.pop-stocks{
    background-color: red;
    display: flex;
    align-items: center;
}

div ul{
    list-style-type: none;
}

ul li{
    background-color: green;
    margin-top: 1.2rem;
    height: 38vh;
    width: 7.1vw;
    float: left;
    line-height: 2.5rem;
    word-spacing: 4.2rem;
    margin-left: 4.4px;
    text-align: left;

}

#container-header {
    /* background-color: green; */
    /* min-height: 5vh;
    min-width: 100vw; */
}

#container-data {
    /* background-color: yellow; */
    /* min-height: 50vh;
    min-width: 100vw;
    display: flex; */
}

#left-div{
    /* background-color: red; */
    /* min-width: 50vw; */
}

#right-div{
    /* background-color: olivedrab; */
    /* min-width: 50vw; */
}

#stock-titles{
    /* background-color: aqua; */
    /* height: 25vh; */
}

#stock-data{
    /* background-color: orange; */
    /* height: 25vh; */
}


